/* CONTENIDO GENERAL */

:host {

display:block;

width:100%;

}



/* separacion del indicador */

app-step-indicator {

display:block;

margin-bottom:45px;

}



/* titulo interno */

h1 {

font-size:28px;

font-weight:700;

color:#101828;

margin:0;

letter-spacing:-0.5px;

}



.subtitle {


margin-top:10px;


font-size:15px;


color:#98a2b3;


margin-bottom:35px;


}




/* label */

label {


display:block;


font-size:14px;


font-weight:600;


color:#475467;


margin-bottom:10px;


}




/* input */

input {


width:100%;


height:48px;


border-radius:12px;


border:1px solid #e4e7ec;


background:#fff;


padding:0 16px;


font-size:14px;


color:#101828;


transition:.3s;


box-sizing:border-box;


}



input::placeholder {


color:#98a2b3;


}



input:focus {


outline:none;


border-color:#21e6b8;


box-shadow:

0 0 0 4px rgba(33,230,184,.12);


}

.continue-btn {


margin-top:35px;


float:right;


padding:13px 32px;


border:none;


border-radius:14px;



background:

linear-gradient(
135deg,
#22e6b8,
#12c997
);



color:white;


font-size:14px;


font-weight:700;



cursor:pointer;



box-shadow:

0 10px 30px rgba(34,230,184,.35);



transition:.35s;


}



.continue-btn:hover{


transform:translateY(-4px);


box-shadow:

0 18px 45px rgba(34,230,184,.55);



}


.continue-btn:active{


transform:scale(.96);


}




/* preguntas */

h3 {


font-size:14px;


font-weight:600;


color:#344054;


margin-top:28px;


margin-bottom:15px;


}





/* grid */

.options {


display:grid;


grid-template-columns:repeat(4,1fr);


gap:14px;


}



.options.small {


grid-template-columns:repeat(4,1fr);


}




/* responsive */

@media(max-width:900px){


.options,
.options.small {


grid-template-columns:repeat(2,1fr);


}


}