<aside class="sideBar">
  <div class="logo">
    <div class="logo-icon">N</div>
    <span>NEXGEST</span>
  </div>

  <div class="navigationBar">
    <nav class="menu">
      <a href="">Dashboard</a>
      <a href="">Ventas</a>
      <a href="">Inventario</a>
      <a href="">Finanzas</a>
      <a href="">Clientes</a>
      <a href="">Proveedores</a>
    </nav>
    <nav class="ownerModules">
      <span>Modulos de </span>
      <a href="">+ Crear modulo</a>
    </nav>
    <nav class="systemModules">
      <a href="">Centro de Inteligencia</a>
      <a href="">Plan de Acción</a>
    </nav>
  </div>
</aside>
