<div class="step-container">
  <div class="step-item active">
    <div class="step-number">01</div>

    <span> Tu negocio </span>
  </div>

  <div class="step-line"></div>

  <div class="step-item">
    <div class="step-number">02</div>

    <span> Cómo trabajas </span>
  </div>

  <div class="step-line"></div>

  <div class="step-item">
    <div class="step-number">03</div>

    <span> Módulos </span>
  </div>

  <div class="step-line"></div>

  <div class="step-item">
    <div class="step-number">04</div>

    <span> Objetivos </span>
  </div>

  <div class="step-line"></div>

  <div class="step-item">
    <div class="step-number">05</div>

    <span> Configuración </span>
  </div>
</div>
